*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body{
    background-image: linear-gradient(120deg, #89add4, #fda445);
    color: white;
    font-family: 'Zen Dots', sans-serif;
    min-height: 100vh;
}

header {
 font-size: 1.5rem;
}